html {
  background-color: #aa4465;;
}

nav {
  background-color: #861657;
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  background-color: #ffa69e;
  display: block;
  text-align: center;
  margin: 2% auto;
  max-width: 900px;
  margin-bottom: 2%;
}

img{
  max-width: 800px;
  max-height: 800px;
}