html {
  background-color: #aa4465;;
}

nav {
  background-color: #861657;
  overflow: hidden;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  float: center;
  display: block;
  text-decoration: none;
  padding: 14px;
  text-align: center;
  color: #ddc2d4;
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  text-align: center;
}

section {
  background-color: #ffa69e;
  display: block;
  text-align: center;
  margin: 2% auto;
  max-width: 900px;
  padding: 20px;
}

img {
  max-width: 800px;
  max-height: 800px;
}

ul, li {
  list-style-type: none;
}