html {
  background-color:rgb(109, 151, 188);
}

nav {
  background-color: rgb(93, 50, 113);
}

section {
  background-color: rgb(161, 140, 184);
  display: block;
  margin: 2% auto;
  max-width: 900px;
}